section {
    border: 2px solid black;
    background-color: blue;
    justify-content: center;
    display: flex;
    height: 75px;
}
button {
    background-color: blue;
    color: white;
    border: 1px solid black;
    align-items: flex-start;
    display: flex;
    width: 90px;
}
button:hover {
    background-color: white;
    color: blue;
}